<app-tab-group
  [(activeIndex)]="currentIndex">
  <app-tab-panel
    title="First tab">
    First tab content
  </app-tab-panel>
  <app-tab-panel
    title="Secound tab">
    Secound tab content
  </app-tab-panel>
  <app-tab-panel
    title="Third tab">
    Third tab content
  </app-tab-panel>
  <app-tab-panel
    title="Fourth tab">
    Fourth tab content
  </app-tab-panel>
</app-tab-group>

<app-tab-bs-group
  [(activeIndex)]="currentIndex">
  <app-tab-panel
    title="First tab">
    First tab content
    <app-counter></app-counter>
  </app-tab-panel>
  <app-tab-panel
    title="Secound tab">
    Secound tab content
    <app-counter></app-counter>
  </app-tab-panel>
  <app-tab-panel
    title="Third tab">
    Third tab content
    <app-counter></app-counter>
  </app-tab-panel>
  <app-tab-panel
    title="Fourth tab">
    Fourth tab content
    <app-counter></app-counter>
  </app-tab-panel>
</app-tab-bs-group>
