<ul class="nav nav-tabs">
  <li class="nav-item"
    *ngFor="let tab of tabPanelList; let idx = index"
  >
    <a class="nav-link"
      (click)="activeIndexChange.emit(idx)"
      href="#">
      {{ tab.title }}
      <button
        class="btn btn-sm btn-danger"
        (click)="removeTab(tab)"
      >
        X
      </button>
    </a>
  </li>
</ul>

<div class="tab-body" *ngIf="tabPanelList.length;else noTabs">
  <ng-container *ngTemplateOutlet="tabPanelList[activeIndex].panelBody">
  </ng-container>
  {{ tabPanelList[activeIndex].title }}
</div>

<ng-template #noTabs>
  No more tabs bs group.
</ng-template>
