<app-hello name="{{ name }}"></app-hello>
<p>
  <input #nameInput type="text" [(ngModel)]="name">
</p>

<p>
  <button (click)="showLast = !showLast">Toggle show last</button>
</p>

<!-- khong nam trong 1 structural directive nao moi work trong on init -->
<!-- <div *ngIf="true">
  <app-toggle [(checked)]="isCheck"></app-toggle>
</div> -->

<!-- toggleComponent is instance of ToggleComponent -->
<app-toggle [(checked)]="isCheck"></app-toggle>

<app-toggle [(checked)]="isCheck"></app-toggle>

<ng-container *ngIf="showLast">
  <app-toggle [(checked)]="isCheck"></app-toggle>
</ng-container>

<button #toggleButton>Toggle me</button>

<!-- {{ toggleButton }} -->
