<!-- <p>{{ currentDate | date }}</p>
<p>{{ currentDate | date:'shortDate' }}</p>
<p>{{ currentDate | date:'mediumDate' }}</p>
<p>{{ currentDate | date:'fullDate' }}</p>
<p>{{ currentDate | date:'yyyy/MM/dd' }}</p>

<p>{{ 'Chau Tran' | lowercase}}</p>
<p>{{ 'Chau Tran' | uppercase}}</p>

<p>{{ 250 | currency }}</p>
<p>{{ 250000 | currency:'VND' }}</p>

<p>{{ 2.124578 | number:'1.1-4' }}</p>
<p>{{ 0.57 | percent }}</p>

<p>{{ userCurrent | json }}</p> -->

<!-- <p>{{ intervals | async }}</p> -->

<!-- <p>{{ addr | formatAddress:'param1' }}</p> -->
<p>Full user list:</p>
<ul>
  <li *ngFor="let user of usersDay18">
    {{ user.name }} - {{ user.age }}
  </li>
</ul>

<p>Adult user list:</p>
<ul>
  <li *ngFor="let user of usersDay18 | adult">
    {{ user.name }} - {{ user.age }}
  </li>
</ul>

<button
  (click)="addUser()"
>Add user</button>
